.about-landing{

    display: flex;
    height: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-landing h1{
    font-size: 80px;
    font-weight: lighter;
}

